<a href="https://colab.research.google.com/github/JSJeong-me/KOSA-Python_Algorithm/blob/main/list_filter_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re
import pandas as pd

df = pd.read_excel('dgul-template.xlsx')

In [2]:
#row_no = 1

In [3]:
#message = df.loc[row_no,'임시값']

In [4]:
#numbers = re.findall(r'\d+', message)

In [5]:
#numbers

In [6]:
#new_string.append(numbers[1])

In [7]:
#new_string

In [8]:
'''
for i in range(2, 14, 2):
  print('{} {}'.format(i, numbers[i]))
  new_string.append(numbers[i])
'''

"\nfor i in range(2, 14, 2):\n  print('{} {}'.format(i, numbers[i]))\n  new_string.append(numbers[i])\n"

In [9]:
#new_string

In [10]:
def convert(string):
  new_string=[]
  numbers = re.findall(r'\d+', string)

  new_string.append(numbers[0])
  new_string.append(numbers[1])


  for i in range(2, 14, 2):
    #print(numbers[i])
    new_string.append(numbers[i])

  return new_string

In [11]:
df.index.stop

10

In [12]:
df.columns

Index(['기사 작정실', 'URL', '현재댓글', '작성자삭제', '규정미준수', '임시값', '남자', '여자', '10대',
       '20대', '30대', '40대', '50대', '60대'],
      dtype='object')

In [13]:
row_no = 0
new_list = []
message = []

while row_no < df.index.stop:
  j=0
  if pd.notna(df.loc[row_no,'임시값']):
    message = df.loc[row_no, '임시값']
    #print(message)
    new_string = convert(message)

    for i in new_string:
        df.iloc[row_no, 6+j] = i
        j += 1

  row_no +=1

In [14]:
df.loc[:, ['남자', '여자', '10대', '20대', '30대', '40대', '50대', '60대']]

    남자   여자  10대  20대  30대  40대  50대  60대
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   75   25    1    4   13   27   37   18
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   75   25    1    5   17   26   33   19
5  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
6   73   27    0    4   14   36   29   16
7  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
8  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9   75   25    2    6   17   31   31   13

In [15]:
df

                                   기사 작정실  ...  60대
0        윤석열 ‘극빈층 자유’ 발언에…홍준표 “나도 몰라, 이제”  ...  NaN
1  윤석열 35.2% 이재명 32.9%…'가족 리스크'에 동반하락[갤럽]  ...   18
2                                     NaN  ...  NaN
3        국힘 “이재명, 김문기 열흘 출장”…민주 “잘 모를 수도”  ...  NaN
4     홍준표, 尹 '극빈층 자유' 논란에 "막가는…나도 몰라, 이젠"  ...   19
5                                     NaN  ...  NaN
6    윤석열 "극빈·못 배운자는 자유가 뭔지..." 발언 어떻게 나왔나  ...   16
7                                     NaN  ...  NaN
8         윤석열 "극빈층·못배운 사람 자유 뭔지 몰라" 발언 논란  ...  NaN
9         호남 간 윤석열 "극빈층·못배운 사람 자유가 뭔지 몰라"  ...   13

[10 rows x 14 columns]

In [16]:
df.to_excel('dgul-template.xlsx', index =False)