<a href="https://colab.research.google.com/github/JSJeong-me/KOSA-Python_Algorithm/blob/main/list_filter_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re
import pandas as pd

df = pd.read_excel('dgul-template.xlsx')

In [2]:
def convert(string):
  new_list=[]
  numbers = re.findall(r'\d+', string)

  for i in range(1, 12, 2):
    print(numbers[i-1])
    new_list.append(numbers[i-1])

  return new_list

In [3]:
#new_string = convert(string)

NameError: ignored

In [ ]:
df.index.stop

In [ ]:
df.columns

In [4]:
row_no=0
new_list = []
message = []

while row_no < df.index.stop:
  j=0
  message = df.loc[row_no, '임시값']
  #print(message)

  new_string = convert(message)

  for i in new_string:
      df.iloc[row_no, 8+j] = i
      j += 1

  row_no +=1

0
7
27
33
21
11
1
10
37
37
12
4
0
4
17
38
28
14

In [5]:
df.loc[:, ['10대', '20대', '30대', '40대', '50대', '60대']]

  10대 20대 30대 40대 50대 60대
0   0   7  27  33  21  11
1   1  10  37  37  12   4
2   0   4  17  38  28  14

In [ ]:
df.to_excel('dgul-template.xlsx')