<a href="https://colab.research.google.com/github/JSJeong-me/KOSA-Python_Algorithm/blob/main/list_filter_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re
import pandas as pd

df = pd.read_excel('dgul-template.xlsx')

In [1]:


string = '0%10대 \
1%20대 \
5%30대 \
23%40대 \
45%50대 \
26%60대↑'
numbers = re.findall(r'\d+', string)

print(numbers)

['0', '10', '1', '20', '5', '30', '23', '40', '45', '50', '26', '60']

In [2]:
new_list=[]

for i in range(1, 12, 2):
  print(numbers[i-1])
  new_list.append(numbers[i-1])

0
1
5
23
45
26

In [3]:
new_list

['0', '1', '5', '23', '45', '26']

In [5]:
for i in new_list:
  print(i)

0
1
5
23
45
26

In [6]:
df.index.stop

3

In [7]:
df.iloc[0,8]

nan

In [16]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', '기사 작정실', 'URL', '현재댓글',
       '작성자삭제', '규정미준수', '남자', '여자', '임시값', '10대', '20대', '30대', '40대', '50대',
       '60대'],
      dtype='object')

In [2]:
def convert(*string):
  new_list=[]
  numbers = re.findall(r'\d+', string)

  for i in range(1, 12, 2):
    print(numbers[i-1])
    new_list.append(numbers[i-1])

  return new_list

In [4]:
row_no=0
new_list = []
message = ''

while row_no < df.index.stop:
  j=0
  message = df.loc[row_no, '임시값']
  print(message)
  '''
  new_list = convert(message)

  for i in new_list:
      df.iloc[row_no, 8+j] = i
      j += 1
      '''
  row_no +=1

1
1
1

In [9]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', '기사 작정실', 'URL', '현재댓글', '작성자삭제', '규정미준수',
       '남자', '여자', '임시값', '10대', '20대', '30대', '40대', '50대', '60대'],
      dtype='object')

In [10]:
df.loc[:, ['10대', '20대', '30대', '40대', '50대', '60대']]

  10대 20대 30대 40대  50대  60대
0   5  23  45  26   26   26
1   5  23  45  26   26   26
2   5  23  45  26   26   26

In [11]:
df.to_excel('dgul-template.xlsx')