<a href="https://colab.research.google.com/github/JSJeong-me/KOSA-Python_Algorithm/blob/main/list_filter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re

string = '0%10대 \
1%20대 \
5%30대 \
23%40대 \
45%50대 \
26%60대↑'
numbers = re.findall(r'\d+', string)

print(numbers)

['0', '10', '1', '20', '5', '30', '23', '40', '45', '50', '26', '60']

In [2]:
new_list=[]

for i in range(1, 12, 2):
  print(numbers[i-1])
  new_list.append(numbers[i-1])

0
1
5
23
45
26

In [3]:
new_list

['0', '1', '5', '23', '45', '26']

In [4]:
import pandas as pd

df = pd.read_excel('dgul-template.xlsx')

In [5]:
for i in new_list:
  print(i)

0
1
5
23
45
26

In [6]:
j=0
for i in new_list:
  df.iloc[6, 8+j] = i
  j += 1

In [7]:
df.columns

Index(['기사 작정실', 'URL', '현재댓글', '작성자삭제', '규정미준수', '남자', '여자', 'Unnamed: 7',
       '10대', '20대', '30대', '40대', '50대', '60대'],
      dtype='object')

In [8]:
df.loc[6, ['10대', '20대', '30대', '40대', '50대', '60대']]

10대     0
20대     1
30대     5
40대    23
50대    45
60대    26
Name: 6, dtype: object