<a href="https://colab.research.google.com/github/JSJeong-me/KOSA-Python_Algorithm/blob/main/Tuesday/example_list_filter_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re
import pandas as pd

In [14]:
df = pd.read_excel('dgul-template_1.xlsx')

In [3]:
df.columns

Index(['기사 작성실', 'URL', '현재댓글', '작성자삭제', '규정미준수', '남자', '여자', '임시값', '10대',
       '20대', '30대', '40대', '50대', '60대'],
      dtype='object')

In [15]:
df_col = ['10대','20대', '30대', '40대', '50대', '60대']

In [16]:
new_df = df[df_col]

In [ ]:
new_df

In [7]:
df.loc[2,'임시값']

'0%10대\r\n2%20대\r\n11%30대\r\n27%40대\r\n36%50대\r\n23%60대↑'

In [8]:
df.index.stop

9

In [9]:
def convert(string):
  numbers = re.findall(r'\d+', string)
  new_list=[]

  for i in range(1, 12, 2):
    print(numbers[i-1])
    new_list.append(numbers[i-1])

  return new_list

In [10]:
row_no=0
new_string = []
message = []

while row_no < df.index.stop:
  j=0
  message = df.loc[row_no,'임시값']
  
  new_string = convert(message)

  for i in new_string:
    df.iloc[row_no, 8+j] = i
    j += 1

  row_no += 1

0
2
12
22
37
27
0
3
12
28
33
24
0
2
11
27
36
23
0
4
10
33
35
18
0
2
11
25
35
27
0
1
6
21
43
30
0
2
5
27
47
19
0
1
6
29
44
20
0
2
11
20
36
30

In [11]:
df.loc[6, ['10대', '20대', '30대', '40대', '50대', '60대']]

10대     0
20대     2
30대     5
40대    27
50대    47
60대    19
Name: 6, dtype: object

In [12]:
df.to_excel('dgul-template_1.xlsx')